img {
  padding: 10px;
  max-height: 100px;
}

img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.grass:hover {
  fill: #b4cd6a;
}

.fire:hover {
  fill: #ff5a00;
}

.water:hover {
  fill: #6ab4e6;
}


#results {
  height: 150px;
}
