/* nav card */

.side-nav li>a.nav-title {
  width: 300px;
  height: 64px;
  line-height: 54px;
}

li.nav-intro {
  height: 64px;
}

li.nav-intro > a {
  font-size: 16px;
  color: #ffffff;
  padding-top: 8px;
}

/* icon colors */

.visit {
  color: #4a148c;
  margin-right: 15px;
}
.visit:hover {
  color: #9c27b0;
}
.delete {
  color: #bdbdbd;
  margin-right: 0px;
}
.delete:hover {
  color: #424242;
}

/* Breakpoint Override */

@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 420px) {
  .row .col.s6 {
    width: 100%;
  }
}
