/* New Task */

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #03a9f4;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #000;
}

/* Task List */

.collection .collection-item {
  line-height: 2.5rem;
}

/* Progress Bar */

#progressBar {
  height: 40px;
}

.completionProgressBar {
  height: 40px;
  background-color: #03a9f4;
  color: #ffffff;
  box-shadow: 0px 10px 60px 0 rgba(255, 255, 255, 0.5);
}

.completionProgressFill {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #80d8ff;
  transition: background 1s ease-in;
}

.tasksCompleted {
  margin: 0 30px;
}
