#taskApp {
  height: 100%;
}

/* Create Tasks */

#createTasks {
  width: 100%;
  max-width: 1000px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.2);
}

input {
  height: 40px;
  border: 0;
  padding: 10px;
  font-size: 1em;
}

button {
  border: 0;
}

.task-input {
  width: 80%;
}

input.task-input-box {
  width: 100%;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border: 1px solid rbga(0, 0, 0, 0.2);
}

.task-add {
  width: 20%;
}

input.task-add-box {
  width: 100%;
  height: 60px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #27a0e6;
  border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
}

input.task-add-box:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease;
}

input.task-add-box:active {
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: background 0.5s ease;
}

/* Task List */

#taskList {
  margin-bottom: 50px;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  color: #ffffff;
}

.task {
  width: 100%;
  height: 60px;
}

.taskDone {
  text-decoration: line-through;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  margin-right: 10px;
}

input[type="checkbox" i] {
  background: #ffffff;
  border: 0px;
}

label {
  font-size: 1.2em;
}

.task-remove {
  width: 100%;
}

button.delete {
  width: 22px;
  height: 22px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 10px;
  background: transparent;
}

button.delete:hover {
  color: #27a0e6;
  background: #ffffff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  transition: 0.5s ease;
}

/* Progress Bar */

footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
}

.completionProgressBar {
  height: 40px;
  background-color: #27a0e6;
  color: #ffffff;
  box-shadow: 0px 10px 60px 0 rgba(255, 255, 255, 0.5);
}

.completionProgressFill {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background: #3cd1e8;
  transition: background 1s ease-in;
}

.tasksCompleted {
  margin: 30px;
}

.hidden {
  display: none;
}
